---
import Layout from '../layouts/Labout.astro'; 
import Card  from '../components/Card.astro';
import Nav from '../components/Nav.astro';

---
<Layout title="Acerca de MediUCSM">
    <div class="h-screen flex flex-row items-center">
        <div class="w-3/6 ml-32">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-activity-heartbeat hover:animate-pulse" height="700" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4ade80" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 12h4.5l1.5 -6l4 12l2 -9l1.5 3h4.5" />
            </svg>
        </div>

        <div class="w-3/6 mr-32">
            <div class="flex flex-col justify-center items-center">
                <div class="w-6/12">
                    <img class="" src="/img/ucsm_logo.webp">
                </div>
                <div class="w-6/12">
                    <h3 class="text-4xl text-green-200">¡La Universidad Católica de Santa María coloca a sus estudiantes en el centro de todo! Es por eso que hemos implementado este innovador procedimiento, diseñado exclusivamente para satisfacer las necesidades de nuestros queridos alumnos de esta prestigiosa institución. ¡Estamos comprometidos con su éxito académico y bienestar!</h3>
                </div>
            </div>
        </div>
    </div>
</Layout>
