---
  import Layout from '../layouts/Layout.astro';
  import Footer from '../components/Footer.astro';
  import Card from '../components/Card.astro';
  import Nav from '../components/Nav.astro';
  import { Icon } from 'astro-icon'

---
<meta charset="UTF-8">

<Nav />

<main class="bg-zinc-900 h-screen">
  <!-- Content space -->
  <div class="flex flex-row container mx-auto p-6">
    

    <div class="flex-1 max-w-xl  mt-32">
      <div class="flex items-center justify-center ">
        <div class="text-white  content-center">
          <div class="flex flex-row">
            <h1 class="text-8xl ">Medi<span class="text-green-400 animate-pulse w-32">UCSM</span></h1>
            <Icon name="medical-icon:internal-medicine" class="w-20 animate-pulse text-green-400" />
          </div>
          <p class="text-4xl <">Lo hacemos más fácil.</p>
          <div class="flex flex-row mt-20 conten">
            <Card
            title='Ingresar'
            href='/login/login'/>
            <Card 
            title='Registrar'
            href='/login/register'/>
          </div>
        </div>
        
      </div>      
    </div>
    
    </div>

  </div>
</main>

<Footer />
