---
  import Layout from '../layouts/Layout.astro';
  import Footer from '../components/Footer.astro';
  import Card from '../components/Card.astro';
  import Nav from '../components/Nav.astro';
---

<Layout title="Bienvenido a MediUCSM">
	
  <div class="h-screen flex flex-col justify-center items-center ">
    <h1 class="text-9xl text-white font-bold relative ">Medi<span class="text-gradient bg-gradient-to-r from-green-400 to-green-700 text-transparent bg-clip-text text-9xl font-bold">UCSM</span><div class=" w-full h-4 bottom-0 left-0 bg-gradient-to-r from-green-400 to-green-700"></div>
    </h1>

    <div class="mt-10 ">
      <ul class="flex flex-row gap-10">
        <li><a class="w-32 max-w-xs py-2 px-4 bg-green-400 rounded-full text-zinc-950 font-semibold text-center shadow-2xl shadow-green-400/60 hover:shadow-green-400/100 hover:drop-shadow-lg" href="/login/register">Registrar</a></li>
        <li><a class="w-40 max-w-xs py-2 px-4 bg-green-400 rounded-full text-zinc-950 font-semibold text-center shadow-2xl shadow-green-400/60 hover:shadow-green-400/100 hover:drop-shadow-lg" href="/login/login">Ingresar</a></li>
      </ul>
    </div>
  </div>
  
</Layout>

