---
---
<nav class="fixed top-0 left-0 bg-zinc-900 w-full shadow-md">
    <div class="container m-auto flex justify-between items-center text-gray-700">
        <h1 class="text-xl font-bold text-green-400 ">MediUCSM</h1>
        <ul class="hidden md:flex items-center text-base font-semibold cursor-pointer">
            <li class="text-center w-2/6 text-white hover:bg-green-300 hover:text-zinc-950 rounded duration-300 py-4 px-6"><a href="/">Inicio</a></li>
            <li class="text-center w-2/6 text-white hover:bg-green-300 hover:text-zinc-950 rounded duration-300 py-4 px-6"><a href="/about">Nosotros</a></li>
            <li class="text-center w-2/6 text-white hover:bg-green-300 hover:text-zinc-950 rounded duration-300 py-4 px-6"><a href="/contact">Contacto</a></li>
        </ul>

    </div>
    
</nav>